body {
    background-color: #eee;
    /* border-color: white; */
}

p {
    color: #222fff;
    text-align: justify left;
    text-indent: 40px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
}



















































/* 
.let, h2 {
    margin: 8px;
    padding: 8px;
}

.let, h3 {
    margin: 8px;
    padding: 8px;
}

.caja {
    background-color: #fff; */
    /* padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border-color: #ccc;
    box-shadow: 2px 2px 2px 2px gray;
}

.boton {
    margin: 10px;
    padding: 10px;
    background-color: #0090ff;
    border: 0px ;
    color: #fff;
}

.boton2 {
    margin: 10px;
    padding: 10px;
    background-color: #aaa;
    border: 0px ;
    color: #fff;
}


.divider {
    border-bottom: 1px solid #888989;
} */